/* Handle transition Fade */

.fadeTranslate-enter {
  opacity: 0;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.fadeTranslate-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transition: opacity 800ms ease-in, transform 1000ms ease-in-out;
}

.fix-container {
  position: absolute;
}

.loading-animation {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loading-animation.card-image {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: rgb(219, 219, 219);
}